body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-family: 'FiraSans';
}

p{
    max-width: 150px;
    text-align: center;
}

.invisible{
    visibility: hidden;
}
/* ШАПКА */
header{
    padding: 20px;
    margin: 0;    
    background-color: #122A3B;
    max-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    display: inline-block;
    width: 138px;
    height: 138px;
    margin: 0;
    padding: 0;
}

/* .user-info{
    ;
} */

.user-info-txt{
    font-size: 18px;
    display: block;
    color: white;
    margin: 0 auto;
    margin-right: 40px;
    margin-top: 20px;
}

/* МЕНЮ */

nav{
    width: 100wh;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-element{
    font-size: 22px;
    color: #00233B;
    margin: 0;
    padding: 0;
}
/* CONTENT */

.container{
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-left: 85px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-self: start;
}

.search-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-textfield{
    width: 400px;
    height: 40px;
    border: solid 1px #00233B;
    padding: 4px;
    font-family: 'FiraSans';
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button{
    background: white;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    margin-left: 5px;
}

.search-icon{
    height: 40px;
    padding: 4px;
}

.action-list-headliner{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}

.action-list-txt{
    margin-right: 40px;
    text-decoration: underline;
    font-size: 20px;
}

.action-list{
    height: 800px;
    margin-left:84px ;
}

.checkboxes{
    display: flex;
    flex-direction: column;
}
/* СТИЛИ ТАБЛИЦЫ */

td{
    border: solid 1px #00233B;
    font-family: 'FiraSans';
}

.td-containers{
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-table-cell{
    width: 80px;
    height: 80px;
}

.email-table-cell{
    height: 80px;
    width: 230px;
}

.initials-table-cell{
    height: 80px;
    width: 80px;
}

.login-table-cell{
    height: 80px;
    width: 230px;
}

.usertype-table-cell{
    height: 80px;
    width: 200px;
}

.subdivision-table-cell{
    height: 80px;
    width: 200px;
}

.position-table-cell{
    height: 80px;
    width: 150px;
}

.creationdate-table-cell{
    height: 80px;
    width: 200px;
}

.editdate-table-cell{
    height: 80px;
    width: 200px;
}

.actionlist-table-cell{
    height: 80px;
    width: 150px;
}

.active-cell{
    height: 200px;
}
/* КОНЕЦ ТАБЛИЧНЫХ СТИЛЕЙ */

#buttonsfield{
    margin-left: 84px;
    padding-bottom: 80px;
}

.buttons-container{
    display: flex;
    align-items: center;
}
.button{
    border: none;
    color: inherit;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    font: 'FiraSans';
    color: white;
    width: 200px;
    height: 50px;
    background-color: #122A3B;
    border-radius: 5px;
    margin-right: 20px;
}
